/* fonts  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/* Not sure what root means  */
:root {
    --primary-colour:#3a4052;
}

/* scrolling effect  */
html {
    scroll-behavior: smooth;
}

/* Whole document effect / reset  */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--primary-colour);
}

h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 15px;
}

/* Nav bar and buttons  */

.navbar{
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    flex-direction: row;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
}

.navbar ul li a{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.125rem;
    letter-spacing: 2px;
    padding: 15px 30px;
    color: var(--primary-colour);
}

.button-1{
    color: #00E532;
}

#site-name{
    color: #00C2CB;
    text-indent: 3rem;
}

.button-2:hover {
    transform: scale(0.9);
    background-color: #000000;
    color: #ff22ff;
}

/* ----- Welcome page text ------  */
.showcase {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: #ffffff;
}
.content h1, .content h3{
    text-transform: uppercase;
}

/* ----Trying to show Brewery tooltip on hover----
.content .tooltip{
    visibility: hidden;
    width: 120px;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
}

.content .tooltip:hover{
    visibility: visible;
    z-index: 10;
} */


/* Background video  */

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* no scroll bar etc */
    background: var(--primary-colour) url(/week3/ruarplum.github.io/cover\ pic.png) no-repeat center center/cover;
}

.video-container video{
    /* full screen  */
    min-width: 100%;
    min-height: 100%;   
    object-fit: cover;
    position: absolute;
    /* centres video  */
    top: 50%;
    left: 50%;
    /* also centres */
    transform: translate(-50%, -50%);  
}

/* overlay colour on the video  */
.video-container::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.content {
    /* adjusts what is infront/behind what object  */
    z-index: 5;
}

/* About section  */
#about {
    padding: 40px;
    text-align: center;
    background: #000000;
    color: #ffffff;
}

#about p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
}

#about h2 {
    margin: 30px 0;
    color: var(--primary-colour);
}

#about img{
    height: 40vh;
    border-radius: 45%;
}

/* Picture expands over hover
#about img:hover{
    border-radius: 0%;
    animation: ease-out;
} */


/* Social Icons  */
.social a{
    margin: 0 5px;
}
.social a:hover{
    color: #ff00ff;
}